/*Ebcabezado de pagina*/
*{
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	padding: 90px 20px 0;
}
.header{
	background-color: #8B0000;
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.nav{
	display: flex;
	justify-content: space-between;

	max-width: 992px;
	margin: 0 auto;
}
.link{
	color: #FFB6C1;
	text-emphasis: none;

}

.logo{
	color: #FFB6C1 ;
	font-size: 30px;
	font-weight: bold;
	padding: 0 40px;
	line-height: 80px;
}
.menu{
	display: flex;
	margin-right: 40px;
	list-style: none;
}
.item{
	font-size: 18px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase;
}
.link{
	padding: 8px 12px;
	border-radius: 3px;
}
.link:hover{
	background-color: #FFF0F5;
	transition: 0.5s;
	color: #B22222;
}
.barras{
	color:#FFF0F5;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;

	display: none;
}
@media screen and (max-width: 767px){
	body{
	padding-top: 70px;
}
.header{
	height: 60px;

}

.logo{
	font-size: 25px;
	padding: 0 20px;
	line-height: 60px;
}
.menu{
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	background-color: orange;
	position: fixed;
	left: 0;
	top: 60px;
	width: 100%;
	padding: 20px 0;

	height: calc(100% - 60px);
	overflow-y: auto;

	left:100%;
	transition: left 0.3s; 
}
.item{
	
	line-height: 70px;
	
}

.link:hover,{
	background: none;
	color: green;
}
.barras{
	display: block;
}

}

/*formato imagen*/


.log{
	max-width: 200px;
	max-height: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.foto{
	width: 100%;
	height: 100%;
}
.foto h2{	
	text-align: center;
	font-family: Arial;
	font-size: 40px;
	color: #B22222;
	padding-bottom: 25px;
	display: inline-block;
}	
.audifono img{
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
	display: inline-block;
	
}
.inalambrico img{
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
	display: inline-block;
}
.cable img{
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
	display: inline-block;
}
.datos img{
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
	display: inline-block;
}
.micaglas img{
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	margin: auto;
	display:inline-block;

}

img{
	transition: all 0.3s linear;
	max-height: 200px;
	max-width: 200px;
	display: inline-block;
	
}
img:hover{
	transform: scale(0.9);
}




/*.contenedor{
	position: relative;
	height: 100px;
	width: 100px;
	border:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
img{
	height: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
	border-radius: 3px;
	margin: 10px;
}*/